{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'minutes/index.css' %}">
    <title>Document</title>
</head>
<body>
    <h1>Hello</h1>
    <div class="img-box">

    </div>
    <img src="data:image/png;base64,{{ data }}" class="center-fit" alt="Graph">
</body>
</html>