{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h1>League</h1>
        {% for season in league_seasons %}
            <h5>{{ season }}</h5>
            <!-- <a href="{% url 'team' team.club_id %}">{{ team }}</a> -->
        {% endfor %}
        <h1>All Comps</h1>
        {% for season in competition_seasons %}
            <h5>{{ season }}</h5>
            <!-- <a href="{% url 'team' team.club_id %}">{{ team }}</a> -->
        {% endfor %}
    </div>
    
</body>
</html>