{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h1>League</h1>
        {% for season in league_seasons %}
        <a href="{% url 'league_graph' club.club_id season %}">{{ club.club_name }} -> {{ season }}/{{ season|add:1 }}</a>
        {% endfor %}
        <h1>All comps</h1>
        {% for season in competition_seasons %}
            <a href="{% url 'comp_graph' club.club_id season %}">{{ club.club_name }} -> {{ season }}/{{ season|add:1 }}</a>
        {% endfor %}
    </div>
    
</body>
</html>